
    header{background-color: yellow; width: 100%; }
  
    input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
        transition: background 0.2s;
      }
    
      div{background-color: pink; display: block; }
      div>h3{color: rgb(0, 0, 255); font-size: 25px;}
      div>h3>label{color: rgb(0, 0, 0);font-size: 15px;}
      
    footer{background-color: blueviolet; display: block;}
 