h1>a{ text-align:center; color : #0b0014b1;}
body  {text-align:center; background-color : rgb(255, 255, 255); color : rgba(176, 0, 0, 0.224);
          margin-left : 30px; margin-right : 30px;}
         li>a>span{ text-align:center; color : rgb(152, 62, 255);}
         ul {display: table; margin-left: auto;margin-right: auto;}
         hr{ height: 2px; border: dashed 2px rgba(112, 99, 129, 0.653)}
         ul>hr{ height: 0.58x; border: solid 0.3px rgb(177, 159, 255); background-color: rgb(177, 159, 255);}
         span {color: rgb(43, 43, 255); font-size:20px;}
         script{text-align:center;}
         li:hover{background-color: rgb(0, 0, 0);border-radius: 30px;
            list-style-type: lower-roman;
            color: rgb(148, 7, 7); list-style: 40px;
            font-weight: bold; }/*가상 클래스 셀렉터*/
         a{text-decoration-line:none;}
         p{font-size: 4px;}
         p::selection {
background-color: rgb(0, 0, 0);
color: rgb(255, 129, 247);
}
ul>li>a>span>b{ background-color : rgba(179, 107, 255, 0.333); border-radius: 30px;}