body {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: medium;
    margin: 0;
    background-color: rgba(1, 58, 1, 0.813);
}

h3 {
    color: rgb(221, 193, 10);
    font-size: large;
}

a {
    color: rgb(252, 254, 255);
    text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;} /* End https://www.cursors-4u.com */