body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.character {
    position: relative;
}

.character img {
  
    width: 100%;
    height: 100%; /* 이미지 크기를 100%로 변경 */
}

.character .eye,
.character .hair,
.character .mouth,
.character .top,
.character .down,
.character .rx {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    display: none;
}

.button-group {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dd77ff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px; 
}

.button-group button {
    margin-bottom: 10px;
    border-radius: 5px; 
}